.lesson{
    background-color: rgba(245, 222, 179, 0.541);
    border: 2px solid #4a6e2e;
}
.lesson img{
    height: 60%;
    width: 70%;
}
.lesson p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
